<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="conference.example.chirag.conference">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.c9theme">


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AboutUs"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.ABOUTUS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Temp"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.ABOUTUS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WorkshopsNew"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.WORKSHOPS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Workshop1"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.WORKSHOP1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Workshop2"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.WORKSHOP2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ContactUs"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.ContactUs" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Schedule"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SCHEDULE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CurrentEvents"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SCHEDULE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>
