<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ictiee.conference">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bmsce"
        android:label="@string/app_name"
        android:theme="@style/Theme.c9theme">


        <activity
            android:name="ictiee.conference.Splash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ictiee.conference.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="ictiee.conference.AboutUs"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.ABOUTUS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ictiee.conference.Temp"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.ABOUTUS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="ictiee.conference.WorkshopsNew"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.WORKSHOPS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="ictiee.conference.Workshop1"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.WORKSHOP1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="ictiee.conference.Workshop2"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.WORKSHOP2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="ictiee.conference.ContactUs"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.ContactUs" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="ictiee.conference.Schedule"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SCHEDULE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="ictiee.conference.CurrentEvents"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SCHEDULE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>
